body {
    background-image: url('../pexels-photo-108941.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
    height: 100vh;
    overflow: hidden;
}

form {
    height: 100vh;
}

form h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 3%;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 0.25%;
}

.input {
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 15px;
    margin-right: 5px;
}

.button {
    background-color: white;
    color: black;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 15px;
    margin-left: 5px;
}

form h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 4%;
}
